.ui-autocomplete {
    z-index: 5000;
}

input[type="checkbox"] {
    position: relative;
    width: 60px;
    height: 30px;
    -webkit-appearance: none;
    background: rgb(247, 120, 120);
    outline: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
    cursor: pointer;
}

input:checked[type="checkbox"] {
    background: rgb(21, 255, 0);
}

input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: white;
    transition: 0.5s;
}

input:checked[type="checkbox"]:before {
    left: 30px;
}